@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*, h1, h2, h3, h4, h5, h6, label {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color:#f44336;
  scroll-behavior: smooth;
}